In [1]:
import pandas as pd
import numpy as np

In [2]:
import mglearn
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
file= r'C:\Users\Pratik\Desktop\FA\ML\weight_height.csv'

df=pd.read_csv(file)

In [4]:
df.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [5]:
df.dtypes

Height    float64
Weight    float64
dtype: object

In [6]:
df.shape

(5000, 2)

In [7]:
X=df.drop(columns='Weight',axis=1)
X.head()

      Height
0  73.847017
1  68.781904
2  74.110105
3  71.730978
4  69.881796

In [8]:
y=df['Weight'].values

In [9]:
from sklearn.neighbors import KNeighborsRegressor

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=0)

In [23]:
reg = KNeighborsRegressor(n_neighbors=1000)

In [24]:
reg.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=1000, p=2,
          weights='uniform')

In [25]:
reg.predict(X_test)

array([177.37156984, 166.5686607 , 198.77548846, ..., 176.96194111,
       189.34954806, 175.38126965])

In [26]:
reg.score(X_test, y_test)

0.6638683954037117